     <header class="site-header js-site-header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a asp-controller="Home" asp-action="Index">StyleSense</a></div>
        </div>
      </div>
    </header>
    <!-- END head -->
