@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<section class="site-hero inner-page overlay" style="background-image: url(/images/admin-register.jpg)" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center" data-aos="fade">
                <h1 class="heading mb-3">Admin Registration</h1>
                <ul class="custom-breadcrumbs mb-4">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>&bullet;</li>
                    <li>Registration</li>
                </ul>
            </div>
        </div>
    </div>

    <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
            <span class="mouse-wheel"></span>
        </div>
    </a>
</section>

<section class="section pb-4">
    <div class="container">
        <div class="row check-availabilty" id="next">
            <div class="block-32" data-aos="fade-up" data-aos-offset="-200">
             <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create Administrator Account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Firstname" class="form-control" aria-required="true" />
                <label asp-for="Input.Firstname"></label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Lastname" class="form-control" aria-required="true" />
                <label asp-for="Input.Lastname"></label>
                <span asp-validation-for="Input.Lastname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Phone" class="form-control"/>
                <label asp-for="Input.Phone"></label>
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
